[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Exec=xflock4
Icon=lock
StartupNotify=false
Terminal=false
Categories=X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Lock Screen
Comment=Requires password to unlock
Name[af]=Sluit Skerm
Comment[af]=Kort 'n wagwoord om oop te sluit
Name[am]=እስክሪን መቆለፍ
Comment[am]=የመግቢያ ቃል ያስፈልጋል ለመክፈት
Name[ar]=إقفل الشاشة
Comment[ar]=يلزم كلمة سر لفك القفل
Name[ast]=Bloquiar pantalla
Comment[ast]=Requier contraseña pa desbloquiar
Name[bg]=Заключване на екрана
Comment[bg]=Изисква се парола за отключване
Name[bs]=Zaključaj Ekran
Comment[bs]=Zahtijeva lozinku za otključati
Name[ca]=Bloca la pantalla
Comment[ca]=Requereix la contrasenya per desbloquejar
Name[cs]=Odhlášení
Comment[cs]=Odhlášení nebo změna uživatele
Name[cs]=Uzamknout obrazovku
Comment[cs]=Pro odemknutí je potřeba heslo
Name[csb]=Zablokùjë ekran
Comment[csb]=Je nót parolë do òdblokòwaniô
Name[da]=Lås skærm
Comment[da]=Skal låses op med adgangskode
Name[de]=Bildschirm sperren
Comment[de]=Passwort zum Entsperren nötig
Name[el]=Κλείδωμα Οθόνης
Comment[el]=Χρειάζεται κωδικός για να ξεκλειδώσει
Name[es]=Bloquear pantalla
Comment[es]=Requiere contraseña para desbloquear
Name[et]=Ekraani lukustamine
Comment[et]=Nõuab parool avamiseks
Name[eu]=Blokeatu pantaila
Comment[eu]=Pasahitza behar da desblokeatzeko
Name[fi]=Lukitse näyttö
Comment[fi]=Avaamiseen tarvitset salasanan
Name[fo]=Læs skíggjan
Comment[fo]=Tørvar atlit at læsa upp við
Name[fr]=Verrouiller l'écran
Comment[fr]=Un mot de passe est requis
Name[gl]=Bloquear pantalla
Comment[gl]=O desbloqueo require contrasinal
Name[he]=נעילת המסך
Comment[he]=דרושה סיסמה בכדי לבטל נעילה
Name[hi]=स्क्रीन पर ताला लगाएं
Comment[hi]=अनलॉक करने के लिए पासवर्ड की आवश्यकता है
Name[hr]=Zaključaj Zaslon
Comment[hr]=Potrebna je šifra za otključati
Name[hu]=Képernyő zárolása
Comment[hu]=A számítógép védelme a jogosulatlan hozzáféréstől
Name[id]=Kunci Layar
Comment[id]=Diperlukan kata kunci untuk membuka
Name[is]=Læsa skjá
Comment[is]=Krefst lykilorðs til að aflæsa
Name[it]=Blocca lo schermo
Comment[it]=Richiede password di sblocco
Name[ja]=画面のロック
Comment[ja]=パスワードの解除に必要です
Name[ko]=화면 잠그기
Comment[ko]=잠금을 해제하려면 암호가 필요합니다
Name[lt]=Užrakinti ekraną
Comment[lt]=Atrakinimui reikia įvesti slaptažodį
Name[mr]=स्क्रीन सीलबंद कर
Comment[mr]=उघडण्यासाठी पासवर्ड ची आवश्यकता
Name[nb]=Lås skjerm
Comment[nb]=Krever passord for å låse opp
Name[nl]=Scherm Vergrendelen
Comment[nl]=Heeft een wachtwoord nodig om te openen
Name[nn]=Lås skjermen
Comment[nn]=Krev passord for å låse opp
Name[oc]=Varrolhar l'ecran
Comment[oc]=Fai mestier d'un senhau per desvarrolhar
Name[pl]=Zablokuj ekran
Comment[pl]=Wymagane hasło do odblokowania
Name[pt]=Bloquear Ecrã
Comment[pt]=Requer senha para desbloquear
Name[pt_BR]=Bloquear Tela
Comment[pt_BR]=Requer senha para desbloquear
Name[ro]=Blocare ecran
Comment[ro]=Necesită parolă pentru a se deschide
Name[ru]=Заблокировать экран
Comment[ru]=Требуется ввести пароль для разблокировки
Name[sk]=Zamknúť Obrazovku
Comment[sk]=Na odomknutie je potrebné heslo
Name[sl]=Zakleni zaslon
Comment[sl]=Zahteva geslo za odklep
Name[sr]=Закључај Екран
Comment[sr]=Захтева лозинку за откључавање
Name[sv]=Lås skärm
Comment[sv]=Kräver lösenord för att låsa upp
Name[tr]=Ekranı Kilitle
Comment[tr]=Kilidi açmak için şifre gerekir
Name[uk]=Блокувати екран
Comment[uk]=Потрібно ввести пароль для розблокування
Name[vi]=Khoá màn hình
Comment[vi]=Yêu cầu mật khẩu khi mở khóa
Name[zh_CN]=锁住屏幕
Comment[zh_CN]=需要密码来解锁
Name[zh_TW]=鎖定螢幕
Comment[zh_TW]=需要密碼解除鎖定