favorites=firefox-esr.desktop,thunderbird.desktop,libreoffice-startcenter.desktop,solydxk-softwaremanager.desktop,xfce-settings-manager.desktop,exo-terminal-emulator.desktop
recent=
button-title=Menu
button-icon=solydx-flat
show-button-title=false
show-button-icon=true
launcher-show-name=true
launcher-show-description=true
item-icon-size=2
hover-switch-category=true
category-icon-size=1
load-hierarchy=true
favorites-in-recent=true
display-recent-default=false
position-search-alternate=false
position-commands-alternate=false
menu-width=400
menu-height=500
command-settings=xfce4-settings-manager
show-command-settings=true
command-lockscreen=xflock4
show-command-lockscreen=true
command-switchuser=dm-tool switch-to-greeter
show-command-switchuser=true
command-logout=xfce4-session-logout
show-command-logout=true
command-menueditor=menulibre
show-command-menueditor=true
search-actions=4
